<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--------- font-family ----------------->
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="style.css" />

    <title>ecomm</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="header">
        <div class="brand">
          <button onclick="openMenu()">&#9776;</button>
          <a href="index.html">Edaga</a>
        </div>
        <div class="header-links">
          <a href="cart.html"> Cart</a>
          <a href="signin.html">Sign In</a>
        </div>
      </header>

      <aside class="sidebar">
        <h3>Categories</h3>
        <button class="sidebar-close-button" onclick="closeMenu()">x</button>
        <ul>
          <li><a href="index.html">Jeans</a></li>
          <li><a href="index.html">shirts</a></li>
        </ul>
      </aside>
      <main class="main">
        <div class="content">
          <ul class="products">
            <li>
              <div class="product">
                <img class="product-image" src="../img/d1.jfif" alt="product" />
                <div class="product-name">
                  <Link href="product.html">Slim Fit</Link>
                </div>
                <div class="product-brand">Zoku</div>
                <div class="product-price">$57</div>
                <div class="product-rating">4.5 (23) reviews</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img class="product-image" src="../img/d1.jfif" alt="product" />
                <div class="product-name">
                  <a href="product.html">Slim Fit</a>
                </div>
                <div class="product-brand">Zoku</div>
                <div class="product-price">$57</div>
                <div class="product-rating">4.5 (23) reviews</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img class="product-image" src="../img/d1.jfif" alt="product" />
                <div class="product-name">
                  <a href="product.html">Slim Fit</a>
                </div>
                <div class="product-brand">Zoku</div>
                <div class="product-price">$57</div>
                <div class="product-rating">4.5 (23) reviews</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img class="product-image" src="../img/d1.jfif" alt="product" />
                <div class="product-name">
                  <a href="product.html">Slim Fit</a>
                </div>
                <div class="product-brand">Zoku</div>
                <div class="product-price">$57</div>
                <div class="product-rating">4.5 (23) reviews</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img class="product-image" src="../img/d2.jpg" alt="product" />
                <div class="product-name">
                  <a href="product.html">Slim Fit</a>
                </div>
                <div class="product-brand">Zoku</div>
                <div class="product-price">$57</div>
                <div class="product-rating">4.5 (23) reviews</div>
              </div>
            </li>
            <li>
              <div class="product">
                <img class="product-image" src="../img/d1.jfif" alt="product" />
                <div class="product-name">
                  <a href="product.html">Slim Fit</a>
                </div>
                <div class="product-brand">Zoku</div>
                <div class="product-price">$57</div>
                <div class="product-rating">4.5 (23) reviews</div>
              </div>
            </li>
          </ul>
        </div>
      </main>
      <footer class="footer">
        &copy; 2020
      </footer>

      <script>
        function openMenu() {
          document.querySelector(".sidebar").classList.add("open");
        }
        function closeMenu() {
          document.querySelector(".sidebar").classList.remove("open");
        }
      </script>
    </div>
  </body>
</html>
